/*=========================
  TOP BRAND BAR
 ======================= */
.top-header-bar-brand {
  background-color: #F0F0F0;
  z-index: 4;
  position: relative;
  p {
    margin-bottom: 0;
    line-height: 1.3em;
    a {
      font-size: 12px;
      padding: 7px 5px;
      display: inline-block;
    }
    a:hover, a:focus {
      text-decoration: none;
    }
  }
  a {
    color: #242424;
  }
  .header-make-img img {
    height: 12px;
    padding-left: 2px;
    vertical-align: baseline;
  }
}


/*=========================
  HEDADER
 ======================= */
#site-header {
  padding-top: 25px;
  background: #fff;
  z-index: 4;
  position: relative;
  @media screen and (max-width: 767px) {
    padding-top: 0;
    .container {
      background-color: #f8f8f8;
      padding-bottom: 10px;
      border-bottom: 1px solid #e7e7e7;
    }
  }
  .logo-container {
    padding-right: 0;
    img {
      max-width: 86px;
      display: inline-block;
      @media screen and (max-width: 500px) {
        max-width: 53px;
      }
    }
    span {
      font-size: 30px;
      color: #ccc;
      line-height: .8em;
      @media screen and (max-width: 500px) {
        font-size: 17px;
      }
    }
    a {
      display: flex;
      align-items: flex-end;
      float: left;
      &:hover, &:hover span {
        text-decoration: none;
      }
      @media screen and (max-width: 767px) {
        justify-content: center;
        float: none;
        padding-right: 15px;
        margin-top: 9px;
      }
      @media screen and (max-width: 500px) {
        margin-top: 16px;
      }
    }
    p {
      float: right;
      margin-bottom: 0;
      line-height: 1.3em;
      font-size: 13px;
      width: 112px;
    }
  }
  .header-newsletter {

  }
  .header-nav {

  }
  #menu-container {
    background-color: #3FAFED;
    a {
      color: #fff;
    }
    @media screen and (max-width: 767px) {
      background-color: #f8f8f8;
      border-bottom: 1px solid #e7e7e7;
      text-align: center;
      a {
        color: #4a4a4a;
      }
    }
  }
}

/* MOBILE NAV */
.navbar-toggle {
  position: absolute;
  top: 0;
  right: 20px;
  height: auto;
  margin-top: 8px;
  margin-right: 0;
  margin-bottom: 0;
  z-index: 4;
  .icon-bar {
    background-color: #333;
    position: relative;
    transition: all 500ms ease-in-out;
  }
  &.active-bar {
    .icon-bar:nth-of-type(2) {
      top: 7px;
      transform: rotate(45deg);
    }
    .icon-bar:nth-of-type(3) {
      background-color: transparent;
    }
    .icon-bar:nth-of-type(4) {
      top: -5px;
      transform: rotate(-45deg);
    }
  }
}


