.faire-global-map-wrp {
  #faire-global-map {
    height: 400px;
    display: block;
  }
  .faire-date-toggle {
    color: #3D7B98;
    cursor: pointer;
    background-color: #EEF2F5;
    display: inline-block;
    padding: 10px 20px;
    &:hover {
      background-color: darken(#EEF2F5, 10%);
    }
    &.active {
      color: white;
      background-color: #3D7B98;
      &:hover {
        background-color: #3D7B98;
      }
    }
  }
  .faire-list-table {
    border-top: solid 1px #3D7B98;
    td,
    th {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    th {
      font-size: 12px;
      font-weight: 500;
      color: #9B9B9B;
    }
    td {
      word-break: break-word;
      font-size: 14px;
    }
th:nth-child(1){width:7%;}
th:nth-child(2){width:10%;}
th:nth-child(3){width:16%;}
th:nth-child(4){width:33%;}
th:nth-child(5){width:26%;}
th:nth-child(6){width:8%;}
  }
  h1 {
    font-weight: 300;
    font-size: 30px;
  }
  .map-filters-wrp {
    background-color: #EBF0F3;
    margin: 0 0 20px 0;
    padding: 8px 0;
    z-index: 100;
    width: 100%;
    top: 0px;
    h2 {
      float: left;
      font-size: 14px;
      font-weight: 300;
      margin: 6px 20px 0 0;
    }
    .searchbox {
      input[type="text"] {
        float: left;
        max-width: 200px;
        padding-right: 23px;
      }
      .fa.fa-times-circle {
        font-size: 20px;
        color: rgba(0,0,0,0.5);
        padding: 4px;
        margin-left: -25px;
        float: left;
        &:hover {
          color: rgba(0,0,0,0.75);
          background: rgba(0,0,0,0.1);
        }
      }
    }
    .checkbox {
      float: right;
      @media all and (max-width: 480px) {
        float: left;
        margin: 10px 5px;
      }
      margin: 5px;
      font-size: 14px;
      line-height: 20px;
      vertical-align: bottom;
      .fa.fa-square-o,
      .fa.fa-check-square-o {
        font-size: 1.5em;
        vertical-align: middle;
      }
      label {
        padding-left: 0;
        @media all and (min-width: 1200px) {
          padding-left: 20px;
        }
        @media all and (max-width: 991px) {
          padding-left: 7px;
        }
      }
    }
    @media all and (max-width: 767px) {
      .searchbox {
        display: flex;
        input[type="text"] {
          flex: 1;
          max-width: initial;
        }
      }
      .filters {
        clear: both;
        min-width: 200px;
        float: left;
        margin: 5px 0 -5px 0;
      }
    }
  }
  .loading-spinner {
    color: white;
    padding: 190px;
    font-size: 25px;
    width: 100%;
    text-align: center;
    height: 400px;
    background-color: #EBF0F3;
  }
  .faire-key-boxes {
    display: flex;
    font-size: 20px;
    cursor: pointer;
    p {
      font-size: 14px;
      font-weight: 300;
    }
    @media all and (max-width: 767px) {
      flex-flow: column;
      margin: 10px 0;
    }
    justify-content: space-between;
    color: white;
    div {
      width: 24.5%;
      @media all and (max-width: 767px) {
        width: 100%;
        margin: 3px 0;
      }
      border-radius: 5px;
      padding: 10px;
      margin: 10px 0 15px 0;
    }
    .flagship-key {
      background-color: #D42410;
      &:hover {
        background-color: #B62601;
      }
    }
    .featured-key {
      background-color: #01A3E0;
      &:hover {
        background-color: #358DC7;
      }
    }
    .mini-key {
      background-color: #67D0F7;
      &:hover {
        background-color: #69BAE1;
      }
    }
    .school-key {
      background-color: #7ED321;
      &:hover {
        background-color: #75BF04;
      }
    }
  }
  .firstHeading {
    font-size: 16px;
  }
}
