.makerspace-directory {
  .gform_heading {
    display: none;
  }
  h2 {
    margin-bottom: -15px;
    border-bottom: 1px solid #ccc !important;
  }
}
body .gform_wrapper .makerspace-directory .top_label div.ginput_container {
  margin-top: 0px;
}

.gform_wrapper .makerspace-directory input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
  font-size: inherit;
  font-family: inherit;
  padding: 5px 4px;
  letter-spacing: normal;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.gform_wrapper .makerspace-directory li.gfield ul.gfield_radio li input[type=radio]+input[type=text] {
  height: 25px !important;
}

body .gform_wrapper .makerspace-directory ul li.gfield {
  margin-top: 25px;
}