.posts-feeds-wrapper {
	margin-bottom: 50px;
	text-align: left;
	max-width: 265px;
	&:nth-child(2) {
		float: right;
	}
	@media screen and (max-width: 540px) {
		max-width: 100%;
	}
	.feed-title {
		margin-top: 0;
		margin-bottom: 0;
		padding: 10px 0 11px 10px;
		background-color: #f40b0b;
		color: #FFF;
		font-size: 16px;
		line-height: 19px;
		.full-feed-title-link {
			display: block;
		}
		.feed-icon {
			padding-right: 13px;
			font-size: 25px;
			vertical-align: middle;
		}
		a {
			color: #fff;
			font-size: 16px;
			font-weight: 700;
			line-height: 19px;
		}
	}
	.all-projects-title {
		font-size: 14px;
		padding: 10px;
		display: block;
		a {
			color: #4A4A4A;
			&:hover {
				color: #9B9B9B;
			}
		}
	}
	.posts-feeds {
		padding-left: 0;
		margin: 0;
		background-color: #FFF;
		border: 1px solid #e3e3e3;
		border-top: none;
		.post-feed {
			border-bottom: 1px solid #e3e3e3;
			padding: 10px;
			overflow: hidden;
			position: relative;
			.full-link {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
			.title {
				.p-title {
					font-size: 14px;
					line-height: 1.05em;
					font-weight: 400;
					margin-bottom: 0px;
				}
				img {
					float: left;
					margin-right: 10px;
					max-width: 35%;
				}
			}
		}
	}
}
